@page "/DeviceDelete/{DeviceId}"
@inject HttpClient Http
<h3>Delete Device</h3>




    <div class="alert alert-danger" role="alert">
    @statusCode
    </div>



<table class="table">
    <thead>
        <tr>
            <th scope="col">Device Id</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td scope="col">@Device.DeviceId</td>
            <td scope="col">@Device.Location</td>
            <td scope="col">@Device.Date</td>
            <td scope="col">@Device.DeviceType</td>
            <td scope="col">@Device.Status</td>
        </tr>
    </tbody>
</table>

   Return from API:
<br />
@responseData

<a href="@($"DeviceLst")" class="btn btn-outline-primary">Back to List</a>
<a class="btn btn-outline-primary" @onclick="() => DeleteAsync()">DELETE </a>