@page "/Instructions/{DeviceId}"
<h3>Instructions</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Device ID</th>
            <th scope="col">Device Type</th>
            <th scope="col">Instruction ID</th>
            <th scope="col">Date Sent</th>
            <th scope="col">Executed</th>
            <th scope="col">Execution time</th>
            <th scope="col">Update</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var instructions in Datanstructions)
        {
            <tr>
                <td scope="row">@instructions.Device.DeviceType</td>
                <td scope="row">@instructions.DeviceId</td>
                <td scope="row">@instructions.Id</td>
                <td scope="row">@instructions.Date</td>
                <td scope="row">@instructions.Executed</td>
                <td scope="row">@instructions.ExecutionTime</td>
@*                 <td scope="row"><a href="@($"DeviceUpdate/{device.DeviceId}")" class="btn btn-outline-primary">Update</a></td>
 *@            </tr>
        }
    </tbody>

</table>