@page "/SendInstruction/{DeviceId}"
<h3>Send Instruction</h3>

<section class="device-edit">

    <EditForm Model="@DataInstructionMsg" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
        <DataAnnotationsValidator />

        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Data instruction</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <InputText id="DataInstructionMsg" @bind-Value="DataInstructionMsg" class="form-control col-md-8">
                        </InputText>
                        @* <ValidationMessage For="@(()=> DataInstruction.Instruction)" /> *@
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td scope="row">@latestInstructionTest.Device.DeviceType</td>
                    <td scope="row">@latestInstructionTest.DeviceId</td>
                    <td scope="row">@latestInstructionTest.Id</td>
                    <td scope="row">@latestInstructionTest.Date</td>
                    <td scope="row">Executed : @latestInstructionTest.Executed</td>
                    <td scope="row">@latestInstructionTest.ExecutionTime</td>
                    <td scope="row">new DataMsg: @DataInstructionMsg</td>
                </tr>    
            </tbody>
        </table>
        

        <a href="@($"Instructions/{DeviceId}")" class="btn btn-outline-primary">Back to Device list</a>&nbsp;
        <button type="submit" class="btn btn-primary me-1">Send Data</button>
    </EditForm>
</section>
